<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20000</string>
				<key>name</key>
				<string>火锅</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20001</string>
				<key>name</key>
				<string>自助餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20002</string>
				<key>name</key>
				<string>甜点饮品</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20003</string>
				<key>name</key>
				<string>小吃快餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20004</string>
				<key>name</key>
				<string>生日蛋糕</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20005</string>
				<key>name</key>
				<string>日韩料理</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20006</string>
				<key>name</key>
				<string>粤菜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20007</string>
				<key>name</key>
				<string>海鲜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20008</string>
				<key>name</key>
				<string>川湘菜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20009</string>
				<key>name</key>
				<string>西餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20010</string>
				<key>name</key>
				<string>香锅烤鱼</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20011</string>
				<key>name</key>
				<string>生活服务</string>
			</dict>
		</array>
		<key>name</key>
		<string>热门</string>
		<key>pic</key>
		<string>icon_qbfl</string>
		<key>shopClassId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20012</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20013</string>
				<key>name</key>
				<string>甜点饮品</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20014</string>
				<key>name</key>
				<string>生日蛋糕</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20015</string>
				<key>name</key>
				<string>火锅</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20016</string>
				<key>name</key>
				<string>自助餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20017</string>
				<key>name</key>
				<string>小吃快餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20018</string>
				<key>name</key>
				<string>日韩料理</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20019</string>
				<key>name</key>
				<string>西餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20020</string>
				<key>name</key>
				<string>聚餐宴请</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20021</string>
				<key>name</key>
				<string>烧烤烤肉</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20022</string>
				<key>name</key>
				<string>川湘菜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20023</string>
				<key>name</key>
				<string>江浙菜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20024</string>
				<key>name</key>
				<string>清真菜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20025</string>
				<key>name</key>
				<string>小龙虾</string>
			</dict>
		</array>
		<key>name</key>
		<string>美食</string>
		<key>pic</key>
		<string>icon_cyms</string>
		<key>shopClassId</key>
		<string>10002</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20026</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20027</string>
				<key>name</key>
				<string>热映电影</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20028</string>
				<key>name</key>
				<string>电影周边</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20029</string>
				<key>name</key>
				<string>演出赛事</string>
			</dict>
		</array>
		<key>name</key>
		<string>电影演出赛事</string>
		<key>pic</key>
		<string>icon_jzjc</string>
		<key>shopClassId</key>
		<string>10003</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20030</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20031</string>
				<key>name</key>
				<string>经济型酒店</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20032</string>
				<key>name</key>
				<string>高端酒店</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20033</string>
				<key>name</key>
				<string>主题酒店</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20034</string>
				<key>name</key>
				<string>公寓型酒店</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20035</string>
				<key>name</key>
				<string>客栈</string>
			</dict>
		</array>
		<key>name</key>
		<string>酒店住宿</string>
		<key>pic</key>
		<string>icon_jdzs</string>
		<key>shopClassId</key>
		<string>10004</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20036</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20037</string>
				<key>name</key>
				<string>温泉</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20038</string>
				<key>name</key>
				<string>景点</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20039</string>
				<key>name</key>
				<string>主题公园</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20040</string>
				<key>name</key>
				<string>水上乐园</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20041</string>
				<key>name</key>
				<string>动植物园</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20042</string>
				<key>name</key>
				<string>海洋馆</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20043</string>
				<key>name</key>
				<string>短途游</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20044</string>
				<key>name</key>
				<string>直通车</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20045</string>
				<key>name</key>
				<string>展览馆</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20046</string>
				<key>name</key>
				<string>游船</string>
			</dict>
		</array>
		<key>name</key>
		<string>周边游</string>
		<key>pic</key>
		<string>icon_ws</string>
		<key>shopClassId</key>
		<string>10005</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20047</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20048</string>
				<key>name</key>
				<string>足疗按摩</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20049</string>
				<key>name</key>
				<string>洗浴/汗蒸</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20050</string>
				<key>name</key>
				<string>KTV</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20051</string>
				<key>name</key>
				<string>酒吧</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20052</string>
				<key>name</key>
				<string>电玩/游戏厅</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20053</string>
				<key>name</key>
				<string>运动健身</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20054</string>
				<key>name</key>
				<string>私人影院</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20055</string>
				<key>name</key>
				<string>DIY手工坊</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20056</string>
				<key>name</key>
				<string>密室逃脱</string>
			</dict>
		</array>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>pic</key>
		<string>icon_xxyl</string>
		<key>shopClassId</key>
		<string>10006</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20057</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20058</string>
				<key>name</key>
				<string>衣物/皮具洗护</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20059</string>
				<key>name</key>
				<string>家政服务</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20060</string>
				<key>name</key>
				<string>证件照</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20061</string>
				<key>name</key>
				<string>照片冲印</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20062</string>
				<key>name</key>
				<string>汽车服务</string>
			</dict>
		</array>
		<key>name</key>
		<string>生活服务</string>
		<key>pic</key>
		<string>icon_shfw</string>
		<key>shopClassId</key>
		<string>10007</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20063</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20064</string>
				<key>name</key>
				<string>境外游</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20065</string>
				<key>name</key>
				<string>景点门票</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20066</string>
				<key>name</key>
				<string>火车/机票船</string>
			</dict>
		</array>
		<key>name</key>
		<string>旅游出行</string>
		<key>pic</key>
		<string>icon_wmsc</string>
		<key>shopClassId</key>
		<string>10008</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20067</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20068</string>
				<key>name</key>
				<string>一站式婚礼会馆</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20069</string>
				<key>name</key>
				<string>酒店宴会厅</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20070</string>
				<key>name</key>
				<string>特色餐饮</string>
			</dict>
		</array>
		<key>name</key>
		<string>宴会</string>
		<key>pic</key>
		<string>icon_cyms</string>
		<key>shopClassId</key>
		<string>10009</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20071</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20072</string>
				<key>name</key>
				<string>本地购物</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20073</string>
				<key>name</key>
				<string>服饰鞋包</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20074</string>
				<key>name</key>
				<string>配镜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20075</string>
				<key>name</key>
				<string>鲜花</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20076</string>
				<key>name</key>
				<string>数码家电</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20077</string>
				<key>name</key>
				<string>超市/便利店</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20078</string>
				<key>name</key>
				<string>珠宝饰品</string>
			</dict>
		</array>
		<key>name</key>
		<string>时尚购</string>
		<key>pic</key>
		<string>icon_bdgw</string>
		<key>shopClassId</key>
		<string>10010</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20079</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20080</string>
				<key>name</key>
				<string>跟团游</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20081</string>
				<key>name</key>
				<string>自由行</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20082</string>
				<key>name</key>
				<string>当地游</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20083</string>
				<key>name</key>
				<string>国内游</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20084</string>
				<key>name</key>
				<string>景+酒</string>
			</dict>
		</array>
		<key>name</key>
		<string>旅游</string>
		<key>pic</key>
		<string>icon_zby</string>
		<key>shopClassId</key>
		<string>10011</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20085</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20086</string>
				<key>name</key>
				<string>美发</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20087</string>
				<key>name</key>
				<string>美容美体</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20088</string>
				<key>name</key>
				<string>美甲美睫</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20089</string>
				<key>name</key>
				<string>瑜伽舞蹈</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20090</string>
				<key>name</key>
				<string>瘦身纤体</string>
			</dict>
		</array>
		<key>name</key>
		<string>丽人</string>
		<key>pic</key>
		<string>icon_smmr</string>
		<key>shopClassId</key>
		<string>10012</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20091</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20092</string>
				<key>name</key>
				<string>游泳</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20093</string>
				<key>name</key>
				<string>健身房</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20094</string>
				<key>name</key>
				<string>羽毛球</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20095</string>
				<key>name</key>
				<string>台球</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20096</string>
				<key>name</key>
				<string>武术</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20097</string>
				<key>name</key>
				<string>保龄球</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20098</string>
				<key>name</key>
				<string>高尔夫</string>
			</dict>
		</array>
		<key>name</key>
		<string>运动健身</string>
		<key>pic</key>
		<string>icon_ydjs</string>
		<key>shopClassId</key>
		<string>10013</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20099</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20100</string>
				<key>name</key>
				<string>儿童乐园</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20101</string>
				<key>name</key>
				<string>婴儿游泳</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20102</string>
				<key>name</key>
				<string>儿童摄影</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20103</string>
				<key>name</key>
				<string>孕妇写真</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20104</string>
				<key>name</key>
				<string>上门拍</string>
			</dict>
		</array>
		<key>name</key>
		<string>母婴亲子</string>
		<key>pic</key>
		<string>icon_csws</string>
		<key>shopClassId</key>
		<string>10014</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20105</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20106</string>
				<key>name</key>
				<string>宠物店</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20107</string>
				<key>name</key>
				<string>宠物医院</string>
			</dict>
		</array>
		<key>name</key>
		<string>宠物</string>
		<key>pic</key>
		<string>icon_smjz</string>
		<key>shopClassId</key>
		<string>10015</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20108</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20109</string>
				<key>name</key>
				<string>洗车</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20110</string>
				<key>name</key>
				<string>汽车美容</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20111</string>
				<key>name</key>
				<string>维修保养</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20112</string>
				<key>name</key>
				<string>打蜡</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20113</string>
				<key>name</key>
				<string>镀晶镀膜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20114</string>
				<key>name</key>
				<string>小保养</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20115</string>
				<key>name</key>
				<string>玻璃贴膜</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20116</string>
				<key>name</key>
				<string>内饰清洁</string>
			</dict>
		</array>
		<key>name</key>
		<string>汽车服务</string>
		<key>pic</key>
		<string>icon_wmsc</string>
		<key>shopClassId</key>
		<string>10016</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20117</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20118</string>
				<key>name</key>
				<string>个性写真</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20119</string>
				<key>name</key>
				<string>亲子摄影</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20120</string>
				<key>name</key>
				<string>其他摄影</string>
			</dict>
		</array>
		<key>name</key>
		<string>摄影写真</string>
		<key>pic</key>
		<string>icon_jzjc</string>
		<key>shopClassId</key>
		<string>10017</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20121</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20122</string>
				<key>name</key>
				<string>婚纱礼服</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20123</string>
				<key>name</key>
				<string>西服定制</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20124</string>
				<key>name</key>
				<string>婚庆公司</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20125</string>
				<key>name</key>
				<string>个性写真</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20126</string>
				<key>name</key>
				<string>婚纱摄影</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20127</string>
				<key>name</key>
				<string>婚戒首饰</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20128</string>
				<key>name</key>
				<string>婚礼小礼品</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20129</string>
				<key>name</key>
				<string>婚车租赁</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20130</string>
				<key>name</key>
				<string>彩妆造型</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20131</string>
				<key>name</key>
				<string>司仪主持</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string></string>
				<key>name</key>
				<string>婚礼跟拍</string>
			</dict>
		</array>
		<key>name</key>
		<string>结婚</string>
		<key>pic</key>
		<string>icon_hlhq</string>
		<key>shopClassId</key>
		<string>10018</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20132</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20133</string>
				<key>name</key>
				<string>装修设计</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20134</string>
				<key>name</key>
				<string>家用电器</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20135</string>
				<key>name</key>
				<string>家装卖场</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20136</string>
				<key>name</key>
				<string>装修建材</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20137</string>
				<key>name</key>
				<string>家具家居</string>
			</dict>
		</array>
		<key>name</key>
		<string>家装</string>
		<key>pic</key>
		<string>icon_jdzs</string>
		<key>shopClassId</key>
		<string>10019</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20138</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20139</string>
				<key>name</key>
				<string>外语培训</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20140</string>
				<key>name</key>
				<string>音乐培训</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20141</string>
				<key>name</key>
				<string>美术培训</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20142</string>
				<key>name</key>
				<string>驾校</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20143</string>
				<key>name</key>
				<string>教育院校</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20144</string>
				<key>name</key>
				<string>职业技术</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20145</string>
				<key>name</key>
				<string>升学辅导</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20146</string>
				<key>name</key>
				<string>留学</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20147</string>
				<key>name</key>
				<string>兴趣生活</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20148</string>
				<key>name</key>
				<string>更多教育培训</string>
			</dict>
		</array>
		<key>name</key>
		<string>学习培训</string>
		<key>pic</key>
		<string>icon_ws</string>
		<key>shopClassId</key>
		<string>10020</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20149</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20150</string>
				<key>name</key>
				<string>美食</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20151</string>
				<key>name</key>
				<string>当地玩乐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20152</string>
				<key>name</key>
				<string>交通/用车</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20153</string>
				<key>name</key>
				<string>自由行</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20154</string>
				<key>name</key>
				<string>Wi-Fi/电话卡</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20155</string>
				<key>name</key>
				<string>签证</string>
			</dict>
		</array>
		<key>name</key>
		<string>出境游</string>
		<key>pic</key>
		<string>icon_jzjc</string>
		<key>shopClassId</key>
		<string>10021</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20156</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20157</string>
				<key>name</key>
				<string>医院</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20158</string>
				<key>name</key>
				<string>齿科口腔</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20159</string>
				<key>name</key>
				<string>体检中心</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20160</string>
				<key>name</key>
				<string>药店</string>
			</dict>
		</array>
		<key>name</key>
		<string>医疗</string>
		<key>pic</key>
		<string>icon_lrmr</string>
		<key>shopClassId</key>
		<string>10021</string>
	</dict>
	<dict>
		<key>shopCategoryList</key>
		<array>
			<dict>
				<key>shopCategoryId</key>
				<string>20161</string>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20162</string>
				<key>name</key>
				<string>美梦成真</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20163</string>
				<key>name</key>
				<string>霸王餐</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20164</string>
				<key>name</key>
				<string>free游</string>
			</dict>
			<dict>
				<key>shopCategoryId</key>
				<string>20165</string>
				<key>name</key>
				<string>丽人免单</string>
			</dict>
		</array>
		<key>name</key>
		<string>抽奖</string>
		<key>pic</key>
		<string>icon_smjz</string>
		<key>shopClassId</key>
		<string>10022</string>
	</dict>
</array>
</plist>
